<template>
    <lightning-card title="Create Reviews">
        <lightning-button-group slot="actions">
            <lightning-button
                label="Assign Template/Deadline"
                icon-name="utility:insert_template"
                onclick={openModal}
            ></lightning-button>
            <lightning-button
                label="Assign Reviewers"
                icon-name="utility:groups"
                onclick={openModal}
            ></lightning-button>
            <lightning-button
                label="Mass Update"
                icon-name="utility:save"
            ></lightning-button>
            <lightning-button
                label="Mass Delete"
                variant="destructive"
                icon-name="utility:delete"
            ></lightning-button>
            <lightning-button
                label="Refresh"
                icon-name="utility:refresh"
            ></lightning-button>
        </lightning-button-group>

        <lightning-layout>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <lightning-combobox
                    name="progress"
                    label="Select Field"
                    value={value}
                    placeholder="Select Field"
                    options={options}
                    onchange={handleChange}
                ></lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <lightning-input
                    type="text"
                    label="Enter the value"
                ></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <div style="height: 30rem;">
            <lightning-datatable
                key-field="Id"
                data={data}
                columns={columns}
                show-row-number-column
                enable-infinite-loading
                onloadmore={loadMoreData}
                is-loading={tableLoadingState}
                sorted-by={sortBy}
                onsave={handleSave}
                draft-values={draftValues}
                sorted-direction={sortDirection}
                onsort={doSorting}
                onrowaction={handleRowAction}
            >
            </lightning-datatable>
        </div>
    </lightning-card>

    <template if:true={openmodel}>
        <section
            role="dialog"
            tabindex="-1"
            class="slds-modal slds-fade-in-open slds-modal_medium"
            aria-labelledby="modal-heading-01"
            aria-modal="true"
            aria-describedby="modal-content-id-1"
        >
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close"
                        onclick={closeModal}
                    >
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2
                        id="modal-heading-01"
                        class="slds-modal__title slds-hyphenate"
                    >
                        Assign Reviewers
                    </h2>
                </header>
                <div
                    class="slds-modal__content slds-p-around_medium"
                    id="modal-content-id-1"
                >
                    <lightning-record-edit-form
                        object-api-name="Contact"
                        onsuccess={handleSuccess}
                    >
                        <div class="slds-m-around_medium">
                            <Label class="slds-m-bottom_small"
                                >Search Reviewers</Label
                            >
                            <lightning-input-field
                                variant="label-hidden"
                                field-name="AccountId"
                            ></lightning-input-field>
                            <div
                                class="slds-m-top_medium slds-text-align_center"
                            >
                                <lightning-button
                                    variant="brand"
                                    type="submit"
                                    name="Add"
                                    label="Add"
                                ></lightning-button>
                            </div>
                        </div>
                    </lightning-record-edit-form>
                    <br />

                    <table
                        class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered"
                    >
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th class="" scope="col">
                                    <div
                                        class="slds-truncate"
                                        title="Reviewer Name"
                                    >
                                        Reviewer Name
                                    </div>
                                </th>
                                <th class="" scope="col">
                                    <div
                                        class="slds-truncate"
                                        title="Reviewer Level"
                                    >
                                        Reviewer Level
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="slds-hint-parent">
                                <th data-label="Opportunity Name" scope="row">
                                    <div class="slds-truncate" title="Cloudhub">
                                        <a
                                            href="javascript:void(0);"
                                            tabindex="-1"
                                            >Cloudhub</a
                                        >
                                    </div>
                                </th>
                                <td data-label="Account Name">
                                    <div class="slds-truncate" title="Cloudhub">
                                        <lightning-combobox
                                            name="progress"
                                            value={value}
                                            placeholder="Select Field"
                                            options={options}
                                            onchange={handleChange}
                                        ></lightning-combobox>
                                    </div>
                                </td>
                            </tr>
                            <tr class="slds-hint-parent">
                                <th data-label="Opportunity Name" scope="row">
                                    <div
                                        class="slds-truncate"
                                        title="Cloudhub + Anypoint Connectors"
                                    >
                                        <a
                                            href="javascript:void(0);"
                                            tabindex="-1"
                                            >Cloudhub + Anypoint Connectors</a
                                        >
                                    </div>
                                </th>
                                <td data-label="Account Name">
                                    <div class="slds-truncate" title="Cloudhub">
                                        <lightning-combobox
                                            name="progress"
                                            label="Select Field"
                                            value={value}
                                            placeholder="Select Field"
                                            options={options}
                                            onchange={handleChange}
                                        ></lightning-combobox>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button
                        label="Cancel"
                        variant="neutral"
                        onclick={closeModal}
                    ></lightning-button
                    >&nbsp;&nbsp;&nbsp;&nbsp;
                    <lightning-button
                        label="Save"
                        variant="brand"
                        onclick={saveMethod}
                    ></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>
